@model NicolaPIermatteiWec.Models.ViewModels.ErrorModel

<div class="container">
    <div class="card">
        <div class="card-title bg-danger text-white">
            Errore
        </div>
        <div class="card-body text-center">
            @Model.Error
        </div>
        <div class="card-footer text-right">
            <button class="btn-primary btn-primary">Indietro</button>
        </div>
    </div>
</div>